/* a minimalist set of CSS resets */
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: 'Mochiy Pop P One', sans-serif;
  line-height: 1.5;
  
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* navigation bar style */
.navbar { 
      display: flex;
      align-items: right;
      padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #556;
}
p{
  color: #555;
}
.container{
    max-width: 1300px;
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: flex;
}
.col-2{
    flex-basis; 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    float: right;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.header{
  background: radial-gradient(#fff,#ffd6d6);
}

.image-txt-container {
  display: flex;
  align-items:center;
  flex-direction: flex;
}
.image-txt-container h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.image-txt-container img {
  margin: 0 25px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 20%;
  min-width: 250px;
  margin-bottom: 30px;
  padding: 10px;
}
.col-3 img{
  width: 100%;
  border: 2px solid #f52c2c;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 46%;
  tranform: translateX(-50%);
}
.h4{
  color: #555;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}
.col-4:hover{
  transform:translateY(-10px);
}

/*------footer------*/
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 20px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2, .footer-col-3{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}



/*-------------All products page-----------*/
.row-2{
  justify-content: space-between;
  margin: 0px auto 50px;
}
select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}
.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer; 
}
..page-btn span:hover{
  background: #ff523b;
  color: black;
}
.head{
  padding: 50px 0 10px;
  display: flex;
  justify-content: left;
  align-items: left;
}
.search-field{
  height: 50px;
  padding: 10px;
}
.productName{
  width: 400px;
}
.search-btn{
  height: 50px;
  width: 150px;
  background: #ff523b;
  border: none;
  color: #fff;
}
.search-btn:hover{
  background: #bb0d00;
  cursor: pointer;
}
.form-box{
  background: radial-gradient(#fff,#ffd6d6);
  padding: 10px;
}

/*----------Single product details-----------*/
.single-product{
  margin-top: 80px;
}
.single-product .col-2 img{
  padding: 0;
}
.single-product .col-2{
  padding: 20px;
}
.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus{
  outline: none;
}

/*---------- media query for menu -------------*/

@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/*----- media query for less than 600 screen size ---------*/
@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
}


/* cart items */
 .cart-page{
      margin: 80px auto;
}
table{
    width:100%;
    border-collapse: collapse;
}
